
@{
    ViewBag.Title = "ComponentIndex";
}


<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Components</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Components</h1>
            </div>
        </div>
    </div>
</div>





<!--  Compontents  -->
<section class="page-section padding-30">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-md-9">


                <!-- Bootstrap Link -->
                <div>
                    <div class="alert alert-info" role="alert">
                        <div class="row">
                            <div class="col-md-12">
                                <p>This template is based on Bootstrap 3. To find out all the advantages and components that are included, please visit the official site: <a href="http://getbootstrap.com/" title="Link to the official Bootstrap Webseite" target="_blank">http://getbootstrap.com/</a>.</p>
                            </div>
                        </div>
                        <div class="row margin-bottom-15">
                            <div class="col-md-3">
                                <ul>
                                    <a href="http://getbootstrap.com/css/#grid" target="_blank">
                                        <li>Grid System</li>
                                    </a>
                                    <a href="http://getbootstrap.com/css/#type" target="_blank">
                                        <li>Typography</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <a href="http://getbootstrap.com/css/#tables" target="_blank">
                                        <li>Tables</li>
                                    </a>
                                    <a href="http://getbootstrap.com/css/#forms" target="_blank">
                                        <li>Forms</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <a href="http://getbootstrap.com/css/#buttons" target="_blank">
                                        <li>Buttons</li>
                                    </a>
                                    <a href="http://getbootstrap.com/css/#images" target="_blank">
                                        <li>Images</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <a href="http://getbootstrap.com/css/#responsive-utilities" target="_blank">
                                        <li>Responsive Utilities</li>
                                    </a>
                                    <a href="http://getbootstrap.com/components/" target="_blank">
                                        <li>Bootstrap Components</li>
                                    </a>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    In addition to the most important bootstrap components, you will also find our extensions on this site.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- Tabpanel -->
                <div id="tabpanel">
                    <h2>Tabpanel</h2>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                        <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
                        <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h3>HOME</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h3>Menu 1</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Menu 2</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- Accordion -->
                <div id="accordion">
                    <h2>Accordion</h2>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a></h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a></h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a></h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- Buttons -->
                <div id="buttons">
                    <h2>Buttons</h2>
                    <div class="margin-bottom-30">
                        <h3>Button Styles</h3>
                        <button type="button" class="btn btn-default">Default</button>
                        <button type="button" class="btn btn-primary">Primary</button>
                        <button type="button" class="btn btn-success">Success</button>
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-warning">Warning</button>
                        <button type="button" class="btn btn-danger">Danger</button>
                        <button type="button" class="btn btn-link">Link</button>
                    </div>
                    <div class="margin-bottom-30">
                        <h3>Button Sizes</h3>
                        <button type="button" class="btn btn-primary btn-lg">Large</button>
                        <button type="button" class="btn btn-primary btn-md">Medium</button>
                        <button type="button" class="btn btn-primary btn-sm">Small</button>
                        <button type="button" class="btn btn-primary btn-xs">XSmall</button>
                    </div>
                    <div class="margin-bottom-30">
                        <h3>Block Level Buttons</h3>
                        <button type="button" class="btn btn-primary btn-block">Button 1</button>
                    </div>
                    <div class="margin-bottom-30">
                        <h3>Active/Disabled Buttons</h3>
                        <button type="button" class="btn btn-primary active">Active Primary</button>
                        <button type="button" class="btn btn-primary disabled">Disabled Primary</button>
                    </div>
                </div>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- Icons -->
                <div id="icons">
                    <h2>Bootstrap Glyhicon &amp; Font Awesome Icons</h2>
                    <div class="margin-bottom-30">
                        <h3>Glyphicons</h3>
                        <p>All available Bootstrap icons can be found here: <a href="http://getbootstrap.com/components/#glyphicons-glyphs" target="_blank">http://getbootstrap.com/components/#glyphicons-glyphs</a></p>

                    </div>
                    <div class="margin-bottom-30">
                        <h3>Font Awesome</h3>
                        <p>All available Font Awesome icons can be found here: <a href="http://fontawesome.io/cheatsheet/" target="_blank">http://fontawesome.io/cheatsheet/</a></p>
                    </div>
                </div>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- Progress Bars -->
                <div id="progressbars">
                    <h2>Progress Bars</h2>
                    <div class="margin-bottom-30">
                        <h3>Normal Progress Bars</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40% Complete (success)
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                50% Complete (info)
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                60% Complete (warning)
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70% Complete (danger)
                            </div>
                        </div>
                    </div>
                    <div class="margin-bottom-30">
                        <h3>Striped Progress Bars</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40% Complete (success)
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                50% Complete (info)
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                60% Complete (warning)
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70% Complete (danger)
                            </div>
                        </div>
                    </div>
                    <div class="margin-bottom-30">
                        <h3>Animated Progress Bar</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40%
                            </div>
                        </div>
                    </div>
                </div>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- Bootstrap Carousel -->
                <div id="bscarousel">
                    <h2>Carousel</h2>
                    <div id="carousel-header" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-header" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-header" data-slide-to="1"></li>
                            <li data-target="#carousel-header" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="http://placehold.it/1900x800" alt="">
                                <div class="carousel-caption">
                                    <h3>Slide 1</h3>
                                    <p>Description for Slide 1</p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="http://placehold.it/1900x800" alt="">
                                <div class="carousel-caption">
                                    <h3>Slide 2</h3>
                                    <p>Description for Slide 2</p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="http://placehold.it/1900x800" alt="">
                                <div class="carousel-caption">
                                    <h3>Slide 3</h3>
                                    <p>Description for Slide 3</p>
                                </div>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-header" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-header" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- owlCarousel -->
                <div id="owlcarousel">
                    <h2>Owl Carousel</h2>
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <a title="First Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                                <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                            </a>
                            <a title="Second Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                            <a title="Third Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                            <a title="Fourth Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                            <a title="Fifth Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                            <a title="Sixth Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                            <a title="Seventh Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                        </div>
                        <div class="item">
                            <a title="Second Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                                <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="item">
                            <a title="Third Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                                <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="item">
                            <a title="Fourth Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                                <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="item">
                            <a title="Fifth Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                                <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="item">
                            <a title="Sixth Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                                <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="item">
                            <a title="Seventh Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                                <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- Portfolio -->
                <div id="portfolio">
                    <h2>Portfolio</h2>
                    <!-- 3 Column Portfolio Filter -->
                    <section class="filter-section">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="filter-container isotopeFilters2">
                                    <ul class="list-inline filter">
                                        <li class="active"><a href="#" data-filter="*">All </a><span>/</span></li>
                                        <li><a href="#" data-filter=".illustrations">Illustrations</a><span>/</span></li>
                                        <li><a href="#" data-filter=".photography">Photography</a><span>/</span></li>
                                        <li><a href="#" data-filter=".websites">Websites</a><span>/</span></li>
                                        <li><a href="#" data-filter=".art">Art</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- 3 Column Portfolio -->
                    <section class="portfolio-section port-col">
                        <div class="row">
                            <div class="isotopeContainer2">
                                <div class="col-md-4 isotopeSelector art">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/625x450" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="row margin-0 project-content">
                                                        <div class="col-md-12 info-head">
                                                            <h3>Project Title</h3>
                                                            <h4>Category</h4>
                                                        </div>
                                                        <div class="col-md-12 info">
                                                            <p>Lorem ipsum dolor sit amet...</p>
                                                            <p>
                                                                <a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4 isotopeSelector illustrations">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/625x450" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="row margin-0 project-content">
                                                        <div class="col-md-12 info-head">
                                                            <h3>Project Title</h3>
                                                            <h4>Category</h4>
                                                        </div>
                                                        <div class="col-md-12 info">
                                                            <p>Lorem ipsum dolor sit amet...</p>
                                                            <p>
                                                                <a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4 isotopeSelector websites">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/625x450" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="row margin-0 project-content">
                                                        <div class="col-md-12 info-head">
                                                            <h3>Project Title</h3>
                                                            <h4>Category</h4>
                                                        </div>
                                                        <div class="col-md-12 info">
                                                            <p>Lorem ipsum dolor sit amet...</p>
                                                            <p>
                                                                <a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4 isotopeSelector photography">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/625x450" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="row margin-0 project-content">
                                                        <div class="col-md-12 info-head">
                                                            <h3>Project Title</h3>
                                                            <h4>Category</h4>
                                                        </div>
                                                        <div class="col-md-12 info">
                                                            <p>Lorem ipsum dolor sit amet...</p>
                                                            <p>
                                                                <a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4 isotopeSelector photography">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/625x450" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="row margin-0 project-content">
                                                        <div class="col-md-12 info-head">
                                                            <h3>Project Title</h3>
                                                            <h4>Category</h4>
                                                        </div>
                                                        <div class="col-md-12 info">
                                                            <p>Lorem ipsum dolor sit amet...</p>
                                                            <p>
                                                                <a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4 isotopeSelector art">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/625x450" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="row margin-0 project-content">
                                                    <div class="col-md-12 info-head">
                                                        <h3>Project Title</h3>
                                                        <h4>Category</h4>
                                                    </div>
                                                    <div class="col-md-12 info">
                                                        <p>Lorem ipsum dolor sit amet...</p>
                                                        <p>
                                                            <a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                            <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4 isotopeSelector photography">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/625x450" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="row margin-0 project-content">
                                                        <div class="col-md-12 info-head">
                                                            <h3>Project Title</h3>
                                                            <h4>Category</h4>
                                                        </div>
                                                        <div class="col-md-12 info">
                                                            <p>Lorem ipsum dolor sit amet...</p>
                                                            <p>
                                                                <a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4 isotopeSelector photography websites">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/625x450" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="row margin-0 project-content">
                                                        <div class="col-md-12 info-head">
                                                            <h3>Project Title</h3>
                                                            <h4>Category</h4>
                                                        </div>
                                                        <div class="col-md-12 info">
                                                            <p>Lorem ipsum dolor sit amet...</p>
                                                            <p>
                                                                <a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="col-md-4 isotopeSelector photography art">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/625x450" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="row margin-0 project-content">
                                                        <div class="col-md-12 info-head">
                                                            <h3>Project Title</h3>
                                                            <h4>Category</h4>
                                                        </div>
                                                        <div class="col-md-12 info">
                                                            <p>Lorem ipsum dolor sit amet...</p>
                                                            <p>
                                                                <a title="Project Image" class="fancybox-pop fancybox.image" href="http://placehold.it/625x450"><i class="fa fa-search fa-border fa-2x"></i></a>
                                                                <a title="Project Link" href="portfolio-item.html"><i class="fa fa-link fa-border fa-2x"></i></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="alert alert-info" role="alert">
                        <p>More Examples here: <a href="portfolio.html">Portfolio Site</a></p>
                    </div>
                </div>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- Gallery -->
                <!-- Image Filter -->
                <section class="filter-section" id="gallery">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <h1>Masonry Gallery</h1>
                            <div class="filter-container isotopeFilters">
                                <ul class="list-inline filter">
                                    <li class="active"><a href="#" data-filter="*">All </a><span>/</span></li>
                                    <li><a href="#" data-filter=".red">Red</a><span>/</span></li>
                                    <li><a href="#" data-filter=".orange">Orange</a><span>/</span></li>
                                    <li><a href="#" data-filter=".purple">Purple</a><span>/</span></li>
                                    <li><a href="#" data-filter=".blue">Blue</a><span>/</span></li>
                                    <li><a href="#" data-filter=".white">White</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Images -->
                <section class="portfolio-section port-col">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="grid isotopeContainer">
                                <div class="grid-sizer gallery"></div>
                                <div class="grid-item isotopeSelector purple isotpe-gallery">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/900x600" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="inner-overlay-content with-icons">
                                                        <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x600" title="Gallery 1">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="grid-item isotopeSelector blue isotpe-gallery">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/900x1200" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="inner-overlay-content with-icons">
                                                        <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x1200" title="Gallery 2">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="grid-item isotopeSelector orange red isotpe-gallery">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/900x600" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="inner-overlay-content with-icons">
                                                        <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x600" title="Gallery 3">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="grid-item isotopeSelector orange isotpe-gallery">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/900x1200" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="inner-overlay-content with-icons">
                                                        <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x1200" title="Gallery 4">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="grid-item isotopeSelector blue isotpe-gallery">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/900x600" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="inner-overlay-content with-icons">
                                                        <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x600" title="Gallery 5">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="grid-item isotopeSelector white isotpe-gallery">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/900x1200" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="inner-overlay-content with-icons">
                                                        <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x1200" title="Gallery 6">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="grid-item isotopeSelector white purple isotpe-gallery">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/900x600" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="inner-overlay-content with-icons">
                                                        <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x600" title="Gallery 7">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="grid-item isotopeSelector purple white isotpe-gallery">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/900x700" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="inner-overlay-content with-icons">
                                                        <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x700" title="Gallery 8">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                                <div class="grid-item isotopeSelector purple isotpe-gallery">
                                    <article class="">
                                        <figure>
                                            <img src="http://placehold.it/900x700" alt="">
                                            <div class="overlay-background">
                                                <div class="inner"></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="inner-overlay">
                                                    <div class="inner-overlay-content with-icons">
                                                        <a class="fancybox-thumb fancybox.image" rel="fancybox-thumb" href="http://placehold.it/900x700" title="Gallery 9">
                                                            <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <script>
                        $(document).ready(function () {
                            $(".fancybox-thumb").fancybox({
                                prevEffect: 'none',
                                nextEffect: 'none',
                                helpers: {
                                    title: {
                                        type: 'outside'
                                    },
                                    thumbs: {
                                        width: 50,
                                        height: 50
                                    }
                                }
                            });
                        });
                </script>


                <hr class="divider margin-top-30 margin-bottom-30">


                <!-- Fancybox Lightbox -->
                <div id="fancybox-lightbox">
                    <h2>Fancybox Lightbox</h2>
                    <div class="margin-bottom-30">
                        <h3>Single Items</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <a id="single_1" href="http://placehold.it/1900x800" class="fancybox.image">
                                    <img src="http://placehold.it/1900x800" alt="" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a id="single_2" href="http://placehold.it/1900x800" class="fancybox.image">
                                    <img src="http://placehold.it/1900x800" alt="" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a id="single_3" href="http://placehold.it/1900x800" class="fancybox.image">
                                    <img src="http://placehold.it/1900x800" alt="" class="img-responsive" />
                                </a>
                            </div>
                        </div>
                        <script>
                                $(document).ready(function () {
                                    $("#single_1").fancybox({
                                        helpers: {
                                            title: {
                                                type: 'float'
                                            }
                                        }
                                    });

                                    $("#single_2").fancybox({
                                        openEffect: 'elastic',
                                        closeEffect: 'elastic',

                                        helpers: {
                                            title: {
                                                type: 'inside'
                                            }
                                        }
                                    });

                                    $("#single_3").fancybox({
                                        openEffect: 'none',
                                        closeEffect: 'none',
                                        helpers: {
                                            title: {
                                                type: 'outside'
                                            }
                                        }
                                    });


                                });
                        </script>
                    </div>
                    <div class="margin-bottom-30">
                        <h3>Image Gallery Items</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <a class="fancybox fancybox.image" rel="gallery1" href="http://placehold.it/1900x800" title="Title Slide 1">
                                    <img src="http://placehold.it/1900x800" alt="" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="fancybox fancybox.image" rel="gallery1" href="http://placehold.it/1900x800" title="Title Slide 2" class="img-responsive">
                                    <img src="http://placehold.it/1900x800" alt="" class="img-responsive" />
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="fancybox fancybox.image" rel="gallery1" href="http://placehold.it/1900x800" title="Title Slide 3" class="img-responsive">
                                    <img src="http://placehold.it/1900x800" alt="" class="img-responsive" />
                                </a>
                            </div>
                        </div>

                        <script>
                                $(document).ready(function () {
                                    $(".fancybox").fancybox({
                                        openEffect: 'elastic',
                                        closeEffect: 'elastic'
                                    });
                                });
                        </script>
                    </div>

                    <div class="alert alert-info" role="alert">
                        <p>More Information here: <a href="http://fancyapps.com/fancybox/" traget="_blank">Fancybox Instructions</a></p>
                    </div>

                </div>
            </div>


            <!-- Sidebar -->
            <div class="col-md-3">
                <aside class="sidebar">
                    <h4 class="sidebar-header">Components</h4>
                    <ul class="nav nav-list">
                        <li><a href="#tabpanel"><b class="caret-right"></b> Tabpanel</a></li>
                        <li><a href="#accordion"><b class="caret-right"></b> Accordion</a></li>
                        <li><a href="#buttons"><b class="caret-right"></b> Buttons</a></li>
                        <li><a href="#icons"><b class="caret-right"></b> Icons</a></li>
                        <li><a href="#progressbars"><b class="caret-right"></b> Progressbars</a></li>
                        <li><a href="#bscarousel"><b class="caret-right"></b> Carousel</a></li>
                        <li><a href="#owlcarousel"><b class="caret-right"></b> Owl Carousel</a></li>
                        <li><a href="#portfolio"><b class="caret-right"></b> Portfolio</a></li>
                        <li><a href="#gallery"><b class="caret-right"></b> Gallery</a></li>
                        <li><a href="#fancybox-lightbox"><b class="caret-right"></b> Lightbox</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</section>

