
@{
    ViewBag.Title = "ContactUs";
}



<!-- Map -->
<section class="page-section-no-padding">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-12 padding-0 map-page-header">
                <div id="map" class="img-responsive map-style"></div>
            </div>
        </div>
    </div>
</section>





<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Contact</h1>
            </div>
        </div>
    </div>
</div>





<!-- CONTAKT US-->
<section class="page-section">
    <div class="container">
        <div class="row ">

            <div class="col-md-8">
                <h2 class="title-section"><span class="title-regular">CONTACT</span><br />US</h2>
                <hr class="title-underline " />
                <p>
                    Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                </p>
                <div class="form-group">
                    <input type="text" class="form-control" id="usr" placeholder="NAME">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="EMAIL">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="message" placeholder="MESSAGE"></textarea>
                </div>
                <button type="button" class="btn btn-default">SEND <i class="fa fa-envelope"></i></button>
            </div>
            <div class="col-md-4">
                <h3>More Info</h3>
                <p>sit amet, consectetur adipiscing elit. Integer placerat metus id orci facilisis, in luctus eros laoreet. Mauris interdum augue varius, faucibus massa id, imperdiet tortor. Donec vel tortor molestie, hendrerit sem a, hendrerit arcu. Aliquam erat volutpat. Proin varius eros eros, non condimentum nis.</p>
                <p>
                    <strong>Address:</strong>
                    <br />Samplestreet 3
                    <br />34117 Kassel
                    <br />Germany
                </p>
                <p><strong>Phone:</strong> +49 561 00 00 00 00</p>
                <p><strong>Fax:</strong> +49 561 00 00 00 00</p>
                <p><strong>Business Hours:</strong> 8am to 6:30pm</p>
            </div>
        </div>
    </div>
</section>




