
@{
    ViewBag.Title = "OurTeam";
}


<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>Our Team</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Our Team</h1>
            </div>
        </div>
    </div>
</div>





<!-- Intro -->
<section class="page-section padding-30">
    <div class="container intro">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="title-section"><span class="title-regular">We are the <strong>best</strong></span><br /> For all your needs</h1>
                <hr class="title-underline-center">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                    <br /> eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
            </div>
        </div>
    </div>
</section>





<!-- OUR TEAM -->
<section class="page-section padding-60">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="title-section"><span class="title-regular">OUR</span><br />TEAM</h2>
                <hr class="title-underline-center" />
            </div>
        </div>
    </div>
    <div class="container team-member">
        <div class="row">
            <div class="col-md-4">
                <img src="http://placehold.it/400x300" class="img-responsive" alt="">
                <h2>Team Member 1</h2>
                <h3>Position</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="fa fa-facebook brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Google-plus" target="_blank"><i class="fa fa-google-plus brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="fa fa-twitter brd-size-30"></i></a>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/400x300" class="img-responsive" alt="">
                <h2>Team Member 2</h2>
                <h3>Position</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="fa fa-facebook brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Google-plus" target="_blank"><i class="fa fa-google-plus brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="fa fa-twitter brd-size-30"></i></a>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/400x300" class="img-responsive" alt="">
                <h2>Team Member 3</h2>
                <h3>Position</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="fa fa-facebook brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Google-plus" target="_blank"><i class="fa fa-google-plus brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="fa fa-twitter brd-size-30"></i></a>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/400x300" class="img-responsive" alt="">
                <h2>Team Member 4</h2>
                <h3>Position</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="fa fa-facebook brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Google-plus" target="_blank"><i class="fa fa-google-plus brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="fa fa-twitter brd-size-30"></i></a>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/400x300" class="img-responsive" alt="">
                <h2>Team Member 5</h2>
                <h3>Position</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="fa fa-facebook brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Google-plus" target="_blank"><i class="fa fa-google-plus brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="fa fa-twitter brd-size-30"></i></a>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/400x300" class="img-responsive" alt="">
                <h2>Team Member 6</h2>
                <h3>Position</h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
                <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="fa fa-facebook brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Google-plus" target="_blank"><i class="fa fa-google-plus brd-size-30"></i></a>
                <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="fa fa-twitter brd-size-30"></i></a>
            </div>
        </div>
    </div>
</section>






<!-- CONTAKT US-->
<section class="page-section-no-padding">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-6 col-md-push-6">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-6 contact-container">
                            <h2 class="title-section"><span class="title-regular">CONTACT</span><br />US</h2>
                            <hr class="title-underline " />
                            <p>
                                Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                            </p>
                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="NAME">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="EMAIL">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="message" placeholder="MESSAGE"></textarea>
                            </div>
                            <button type="button" class="btn btn-default">SEND <i class="fa fa-envelope"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6 padding-0 ">
                <div id="map" class="img-responsive map-style"></div>
            </div>
        </div>
    </div>
</section>


