
@{
    ViewBag.Title = "PortfolioItem";
}



<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>Portfolio Items</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Portfolio Items</h1>
            </div>
        </div>
    </div>
</div>





<!-- Container  -->
<section class="page-section padding-30">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-md-8 col-md-push-4 margin-bottom-15">
                <a title="Main Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-main">
                    <img src="http://placehold.it/1140x642" alt="portfolio" class="img-responsive">
                </a>
            </div>


            <!-- Sidebar -->


            <div class="col-md-4 col-md-pull-8">

                <h4>Project details</h4>
                <div class="portfolio-details">
                    <p>
                        <strong>Client:</strong> Jon Doe
                        <br />
                        <strong>Date:</strong> 10 November, 2016
                        <br />
                        <strong>Category:</strong> <a href="#">Design</a>, <a href="#">Photo</a>
                        <br />
                        <strong>Website:</strong> <a href="#" target="_blank">www.website.com</a>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>

            </div>

        </div>

    </div>

    <div class="container">
        <div class="row  portfolio-gallery">
            <div class="large-12 columns">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a title="First Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                            <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                        </a>
                        <a title="Second Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                        <a title="Third Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                        <a title="Fourth Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                        <a title="Fifth Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                        <a title="Sixth Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                        <a title="Seventh Image" class="fancybox-pop fancybox.image" style="display: none" href="http://placehold.it/1140x642" rel="portfolio-1"></a>
                    </div>

                    <div class="item">
                        <a title="Second Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                            <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                        </a>
                    </div>


                    <div class="item">
                        <a title="Third Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                            <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                        </a>
                    </div>

                    <div class="item">
                        <a title="Fourth Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                            <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                        </a>
                    </div>

                    <div class="item">
                        <a title="Fifth Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                            <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a title="Sixth Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                            <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="item">
                        <a title="Seventh Image" class="fancybox-pop fancybox.image" href="http://placehold.it/1140x642" rel="portfolio-1">
                            <img src="http://placehold.it/1140x642" alt="" class="img-responsive">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




<section class="page-section  padding-30">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Project Description</h4>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quis molestiae quia iusto quae commodi ad totam ratione porro nisi nesciunt ipsum amet dolores delectus esse modi maiores laborum veniam!</p>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quis molestiae quia iusto quae commodi ad totam ratione porro nisi nesciunt ipsum amet dolores delectus esse modi maiores laborum veniam!</p>
            </div>
        </div>
    </div>
</section>

