
@{
    ViewBag.Title = "SalesPage";
}


<!-- Navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img class="logo" src="~/public/img/logo.png" alt="Logo"></a>
        </div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Main Page</li>
                        <li><a href="index.html">Index</a></li>
                        <li class="dropdown-header">Alternative Headers</li>
                        <li><a href="index-header-hero.html">Hero Image</a></li>
                        <li><a href="index-header-product.html">Product Feature</a></li>
                        <li><a href="index-header-newsletter.html">Newsletter</a></li>
                        <li><a href="index-header-carousel.html">Classic Carousel</a></li>
                        <li><a href="index-header-video.html">Video</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Company</li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="our-team.html">Our Team</a></li>
                        <li class="active"><a href="sales-page.html">Sales Page</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Creative</li>
                        <li><a href="about-me.html">About Me</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="portfolio-item.html">Portfolio Item</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Page Layouts<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Page Layouts</li>
                        <li><a href="full-width.html">Full Width</a></li>
                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="right-left-sidebar.html">Right &amp; Left Sidebar</a></li>
                        <li><a href="404.html">404 Error</a></li>
                    </ul>
                </li>
                <li><a href="components.html">Components</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Standard Layout</li>
                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog-single-post.html">Blog Single Post</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Creative Layout</li>
                        <li><a href="blog-full-width.html">Blog No Sidebar</a></li>
                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>




<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li>Sales Page</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Sales Page</h1>
            </div>
        </div>
    </div>
</div>





<!-- Features -->
<section class="page-section padding-30">
    <div class="container feature">
        <div class="row text-center">
            <div>
                <div class="col-md-3 col-sm-6">
                    <div>
                        <i class="fa fa-html5"></i>
                        <h4>HTML5 Templates</h4>
                        <p>Curabitur quis dui volutpat, cursus eros ut, commodo elit. Cum sociis natoque penatibus et</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div>
                        <i class="fa fa-wordpress"></i>
                        <h4>Wordpress Templates</h4>
                        <p>Curabitur quis dui volutpat, cursus eros ut, commodo elit. Cum sociis natoque penatibus et</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div>
                        <i class="fa fa-camera"></i>
                        <h4>Stock Photos</h4>
                        <p>Curabitur quis dui volutpat, cursus eros ut, commodo elit. Cum sociis natoque penatibus et</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div>
                        <i class="fa fa-joomla"></i>
                        <h4>Joomla Templates</h4>
                        <p>Curabitur quis dui volutpat, cursus eros ut, commodo elit. Cum sociis natoque penatibus et</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Pricing Tables 4 Columns -->
<section class="page-section section-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title-section"><span class="title-regular">4 PRICING</span><br />TABLES</h2>
                <hr class="title-underline col-centered" />
            </div>
        </div>
        <div class="row pricing-table">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div>
                    <div class="product ">
                        <div class="price">
                            <sup>$</sup>99
                            <small>per quarter</small>
                        </div>
                        <div class="type">
                            BASIC PLAN
                        </div>
                        <ul>
                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#demos" class="btn btn-primary">Buy Product</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div>
                    <div class="product popular">
                        <div class="price">
                            <sup>$</sup>199
                            <small>per quarter</small>
                        </div>
                        <div class="type">
                            MEDIUM PLAN
                        </div>
                        <ul>
                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#demos" class="btn btn-primary">Buy Product</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div>
                    <div class="product">
                        <div class="price">
                            <sup>$</sup>249
                            <small>per quarter</small>
                        </div>
                        <div class="type">
                            ADVANCE PLAN
                        </div>
                        <ul>
                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#demos" class="btn btn-primary">Buy Product</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div>
                    <div class="product">
                        <div class="price">
                            <sup>$</sup>599
                            <small>per quarter</small>
                        </div>
                        <div class="type">
                            EXTENDED PLAN
                        </div>
                        <ul>
                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#demos" class="btn btn-primary">Buy Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Testmonials -->
<section class="page-section">
    <div class="container testmonial-container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title-section"><span class="title-regular">WHAT OUR CUSTOMERS</span><br />ARE SAYING</h2>
                <hr class="title-underline col-centered" />
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 testmonial">
                <img src="http://placehold.it/300x300" class="img-responsive img-circle" alt="">
                <blockquote>
                    <p class="m-b-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    <footer class="blockquote-footer">Name of Testmonial <cite title="Source Title">Company</cite></footer>
                </blockquote>
            </div>
            <div class="col-md-4 testmonial">
                <img src="http://placehold.it/300x300" class="img-responsive img-circle" alt="">
                <blockquote>
                    <p class="m-b-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    <footer class="blockquote-footer">Name of Testmonial <cite title="Source Title">Company</cite></footer>
                </blockquote>
            </div>
            <div class="col-md-4 testmonial">
                <img src="http://placehold.it/300x300" class="img-responsive img-circle" alt="">
                <blockquote>
                    <p class="m-b-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                    <footer class="blockquote-footer">Name of Testmonial <cite title="Source Title">Company</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>





<!-- Pricing Tables 3 Columns -->
<section class="page-section section-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title-section"><span class="title-regular">3 PRICING</span><br />TABLES</h2>
                <hr class="title-underline col-centered" />
            </div>
        </div>
        <div class="row pricing-table">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div>
                    <div class="product ">
                        <div class="price">
                            <sup>$</sup>99
                            <small>per quarter</small>
                        </div>
                        <div class="type">
                            SMALL PLAN
                        </div>
                        <ul>
                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#demos" class="btn btn-primary">Buy Product</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div>
                    <div class="product db-bk-color-two popular">
                        <div class="price">
                            <sup>$</sup>159
                            <small>per quarter</small>
                        </div>
                        <div class="type">
                            MEDIUM PLAN
                        </div>
                        <ul>
                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#demos" class="btn btn-primary">Buy Product</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div>
                    <div class="product db-bk-color-three">
                        <div class="price">
                            <sup>$</sup>799
                            <small>per quarter</small>
                        </div>
                        <div class="type">
                            ADVANCE PLAN
                        </div>
                        <ul>
                            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                            <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                            <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                        </ul>
                        <div class="pricing-footer">
                            <a href="#demos" class="btn btn-primary">Buy Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Our Clients -->
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-8">
                <h2 class="title-section"><span class="title-regular">OUR</span><br />CLIENTS</h2>
                <hr class="title-underline " />
                <p>
                    Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                </p>
            </div>
            <div class="col-md-8 col-md-pull-4 text-center">
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://placehold.it/168x168" alt="" class="client-logo" />
                    </div>
                    <div class="col-md-4">
                        <img src="http://placehold.it/168x168" alt="" class="client-logo" />
                    </div>
                    <div class="col-md-4">
                        <img src="http://placehold.it/168x168" alt="" class="client-logo" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://placehold.it/168x168" alt="" class="client-logo" />
                    </div>
                    <div class="col-md-4">
                        <img src="http://placehold.it/168x168" alt="" class="client-logo" />
                    </div>
                    <div class="col-md-4">
                        <img src="http://placehold.it/168x168" alt="" class="client-logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- Call to Action Primary -->
<section class="cta cta-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Get this Theme <span>now</span></h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing <strong>elitr, sed diam nonumy</strong> eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
            <div class="col-md-2 col-md-push-4 cta-button">
                <a href="#demos" class="btn btn-primary" style="padding: 35px 15px;">Buy Theme for 10$</a>
            </div>
        </div>
    </div>
</section>




<!-- CONTAKT US-->
<section class="page-section-no-padding">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-6 col-md-push-6">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-6 contact-container">
                            <h2 class="title-section"><span class="title-regular">CONTACT</span><br />US</h2>
                            <hr class="title-underline " />
                            <p>
                                Maecenas luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
                            </p>
                            <div class="form-group">
                                <input type="text" class="form-control" id="usr" placeholder="NAME">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="EMAIL">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="message" placeholder="MESSAGE"></textarea>
                            </div>
                            <button type="button" class="btn btn-default">SEND <i class="fa fa-envelope"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6 padding-0 ">
                <div id="map" class="img-responsive map-style"></div>
            </div>
        </div>
    </div>
</section>




