
@{
    ViewBag.Title = "RightLeftSideBar";
}

<!-- Page Header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Page Layouts</a></li>
                    <li>Right &amp; Left Sidebar</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Right &amp; Left Sidebar</h1>
            </div>
        </div>
    </div>
</div>





<!-- Right Sidebar Container  -->
<section class="page-section padding-30">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-md-6 col-md-push-3">
                <h2>Right &amp; Left <strong>Sidebar</strong> Page</h2>
                <h3>Justo duo dolores</h3>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et <strong>justo duo dolores et ea rebum</strong>. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At <strong>vero eos et accusam</strong> et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed <a href="#">diam nonumy eirmod</a> tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <img class="pull-right" src="http://placehold.it/260x501" alt="">
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. </p>
                <blockquote>&ldquo;Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.&rdquo;</blockquote>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
                <button class="btn btn-primary">More Information</button>
            </div>
            <!-- Left Sidebar -->
            <div class="col-md-3 col-md-pull-6">
                <aside class="sidebar">
                    <h4 class="sidebar-header">Left Sidebar</h4>
                    <ul class="nav nav-list">
                        <li><a href="#"><b class="caret-right"></b> Menu 1</a></li>
                        <li><a href="#"><b class="caret-right"></b> Menu 2</a></li>
                        <li><a href="#"><b class="caret-right"></b> Menu 3</a></li>
                        <li><a href="#"><b class="caret-right"></b> Menu 4</a></li>
                    </ul>
                    <hr>
                    <h4 class="sidebar-header">About Us</h4>
                    <p>Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Nulla nunc dui, tristique in semper vel. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. </p>
                </aside>
            </div>
            <!-- Right Sidebar -->
            <div class="col-md-3">
                <aside class="sidebar">
                    <h4 class="sidebar-header">Right Sidebar</h4>
                    <ul class="nav nav-list">
                        <li><a href="#"><b class="caret-right"></b> Menu 1</a></li>
                        <li><a href="#"><b class="caret-right"></b> Menu 2</a></li>
                        <li><a href="#"><b class="caret-right"></b> Menu 3</a></li>
                        <li><a href="#"><b class="caret-right"></b> Menu 4</a></li>
                    </ul>
                    <hr>
                    <h4 class="sidebar-header">More Information</h4>
                    <p>Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Nulla nunc dui, tristique in semper vel. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. </p>
                </aside>
            </div>
        </div>
    </div>
</section>

