
@{
    ViewBag.Title = "ClassicCarousel";
}

<!-- Call to Action -->
<div class="sec-alternative" style="background-image: url(img/odd_background.png)">
    <div class="container cta">
        <div class="row">
            <div class="col-md-8">
                <p>
                    This could be your <span>Website</span>
                    <br />
                    <span>Check out all layouts and features</span>
                </p>
            </div>
            <div class="col-md-4">
                <div class="cta-button">
                    <a href="#demos" class="btn btn-primary">Buy Theme for 10$</a> <span><a href="#">or see more</a></span>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Header Listing -->
<section class="page-section" id="sliders">
    <div class="container">
        <div class="row margin-bottom-50">
            <div class="col-md-12 text-center">
                <h1 class="title-section"><span class="title-regular">More <strong>Headers?</strong></span><br />Click on the Demos below.</h1>
                <hr class="title-underline-center">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    <br />sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                </p>
            </div>
        </div>
        <div class="row margin-bottom-60">
            <div class="col-sm-4">
                <h2>Hero Image</h2>
                <hr class="title-underline margin-bottom-15">
                <a href="index-header-hero.html"><img class="img-thumbnail img-responsive margin-bottom-15" src="http://placehold.it/690x290" alt="" /></a>
                <p><a href="index-header-hero.html" class="btn btn-md btn-primary">Open Hero Header</a></p>
            </div>
            <div class="col-sm-4">
                <h2>Product Feature</h2>
                <hr class="title-underline margin-bottom-15">
                <a href="index-header-product.html"><img class="img-thumbnail img-responsive margin-bottom-15" src="http://placehold.it/690x290" alt="" /></a>
                <p><a href="index-header-product.html" class="btn btn-md btn-primary">Open Product Header</a></p>
            </div>
            <div class="col-sm-4">
                <h2>Video Header</h2>
                <hr class="title-underline margin-bottom-15">
                <a href="index-header-video.html"><img class="img-thumbnail img-responsive margin-bottom-15" src="http://placehold.it/690x290" alt="" /></a>
                <p><a href="index-header-video.html" class="btn btn-md btn-primary">Open Video Header</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Newsletter</h2>
                <hr class="title-underline margin-bottom-15">
                <a href="index-header-newsletter.html"><img class="img-thumbnail img-responsive margin-bottom-15" src="http://placehold.it/690x290" alt="" /></a>
                <p><a href="index-header-newsletter.html" class="btn btn-md btn-primary">Open Newsletter Header</a></p>
            </div>
            <div class="col-sm-4">
                <h2>Classic Carousel</h2>
                <hr class="title-underline margin-bottom-15">
                <a href="index-header-carousel.html"><img class="img-thumbnail img-responsive margin-bottom-15" src="http://placehold.it/690x290" alt="" /></a>
                <p><a href="index-header-carousel.html" class="btn btn-md btn-primary">Open Carousel Header</a></p>
            </div>
        </div>
    </div>
</section>

